.header {
    background-color: #ffffff;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: calc(100% - 40px);
    border-radius: 15px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px  ;
}

.logo img {
    height: 48px;
    width: 100px;
}

.nav-center ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    color: #333;
}

.nav-center a {
    text-decoration: none;

}

.nav-center a ,.nav-secondary a {
    font-weight: 1.25rem;
}

.nav-center a:hover, .nav-secondary a:hover {
    color: #000;
}

.nav-secondary ul{
    display: flex;
    gap: 2.5rem;
    align-items: center;
}
.nav-secondary img{
    height: 20px;
}
.nav-secondary a:hover img{
    opacity: 0.5   ;
}